ProductsPOC/Schemas/ProductDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema elementFormDefault="qualified" targetNamespace="http://tns.eniquesol.com/productDetailsResposne" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.eniquesol.com/productDetailsResposne">
  <complexType name="ProductDetailsResponseType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="preProductDetails">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="pidMatchingValue">
              <complexType>
                <sequence>
                	<element maxOccurs="1" minOccurs="0" name="name"
                		type="string" />
								<element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                  <complexType>
                                                    <sequence>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="lineId"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="partnerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="sellerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		name="extNetPrice"
                                                    		type="string" maxOccurs="1" minOccurs="0">
                                                    	</element>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="extNetPricePercentage"
                                                    		type="double" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="term"
                                                    		type="double" />
                                                    </sequence>
                                                  </complexType>
                                                </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVProductNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVProductNetAmtUSD" type="integer"/>
            <element maxOccurs="unbounded" minOccurs="0" name="productFamily">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                  <complexType>
                                                    <sequence>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="lineId"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="partnerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="sellerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		name="extNetPrice"
                                                    		type="string" maxOccurs="1" minOccurs="0">
                                                    	</element>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="extNetPricePercentage"
                                                    		type="double" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="term"
                                                    		type="double" />
                                                    </sequence>
                                                  </complexType>
                                                </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVProductNetAmt" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVProductNetAmt" type="double"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="preServiceDetails">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="totalACVServiceNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVServiceNetAmtUSD" type="integer"/>
            <element maxOccurs="unbounded" minOccurs="0" name="serviceCategory">
              <complexType>
                <sequence>
                  
                	<element maxOccurs="1" minOccurs="0" name="name"
                		type="string" />
								<element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                  <complexType>
                                                    <sequence>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="lineId"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="partnerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="sellerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		name="extNetPrice"
                                                    		type="string" maxOccurs="1" minOccurs="0">
                                                    	</element>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="extNetPricePercentage"
                                                    		type="double" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="term"
                                                    		type="double" />
                                                    </sequence>
                                                  </complexType>
                                                </element>
           
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVServiceNetAmt" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVServiceNetAmt" type="double"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="optyDetails">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="preTotalProdAttriNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalSerAttriNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalBuyProgNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalProdAttriNetAmt" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalSerAttriNetAmt" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalBuyProgNetAmt" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="optyNumber" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="quoteId" type="long"/>
            <element maxOccurs="1" minOccurs="0" name="sfdcOptyNumber" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="currencyCode" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="user" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="publishedDate" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="eaFlag" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="combinedServiceFlag" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalProdAttriNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalSerAttriNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalBuyProgNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalProdAttriNetAmt" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="totalSerAttriNetAmt" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="totalBuyProgNetAmt" type="integer"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="productDetails">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="pidMatchingValue">
              <complexType>
                <sequence>
                	<element maxOccurs="1" minOccurs="0" name="name"
                		type="string" />
								<element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                  <complexType>
                                                    <sequence>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="lineId"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="partnerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="sellerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		name="extNetPrice"
                                                    		type="string" maxOccurs="1" minOccurs="0">
                                                    	</element>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="extNetPricePercentage"
                                                    		type="double" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="term"
                                                    		type="double" />
                                                    </sequence>
                                                  </complexType>
                                                </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVProductNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVProductNetAmtUSD" type="integer"/>
            <element maxOccurs="unbounded" minOccurs="0" name="productFamily">
              <complexType>
                <sequence>
                	<element maxOccurs="1" minOccurs="0" name="name"
                		type="string" />
								<element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                  <complexType>
                                                    <sequence>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="lineId"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="partnerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="sellerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		name="extNetPrice"
                                                    		type="string" maxOccurs="1" minOccurs="0">
                                                    	</element>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="extNetPricePercentage"
                                                    		type="double" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="term"
                                                    		type="double" />
                                                    </sequence>
                                                  </complexType>
                                                </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVProductNetAmt" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVProductNetAmt" type="double"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="serviceDetails">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="totalACVServiceNetAmtUSD" type="integer"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVServiceNetAmtUSD" type="integer"/>
            <element maxOccurs="unbounded" minOccurs="0" name="serviceCategory">
              <complexType>
                <sequence>
                	<element maxOccurs="1" minOccurs="0" name="name"
                		type="string" />
								<element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                  <complexType>
                                                    <sequence>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="lineId"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="partnerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="sellerIntent"
                                                    		type="string" />
                                                    	<element
                                                    		name="extNetPrice"
                                                    		type="string" maxOccurs="1" minOccurs="0">
                                                    	</element>
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="extNetPricePercentage"
                                                    		type="double" />
                                                    	<element
                                                    		maxOccurs="1"
                                                    		minOccurs="0"
                                                    		name="term"
                                                    		type="double" />
                                                    </sequence>
                                                  </complexType>
                                                </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVServiceNetAmt" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVServiceNetAmt" type="double"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="offerDetails">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="parentOfferType">
              <complexType>
                <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string" />
                                    <element maxOccurs="unbounded" minOccurs="0" name="subOfferType">
                    <complexType>
                      <sequence>
                      	<element name="name" type="string" maxOccurs="1" minOccurs="0"></element>
                      	<element maxOccurs="1" minOccurs="0"
                      		name="recurringFlag" type="string" />
                      	<element maxOccurs="1" minOccurs="0"
                      		name="netPrice" type="double" />
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="subscriptionDetails">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="partDetails">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="partNumber" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="quantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="initialTerm" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="autoRenewalTerm" type="string"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="ProductDetailsResponse" type="tns:ProductDetailsResponseType"/>

 
</schema>
